<!DOCTYPE html>
<meta charset="utf-8">
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="../static/js/d3.v3.min.js"></script>
  <script src="../static/js/topojson.v1.min.js"></script>
  <script src="../static/js/datamaps.usa.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/main.css" media="screen" />
</head>
<body>
  <h1 class="text-center otext">Sales BI Dashboard</h1>
  <h5 class="text-center otext">Team 6: Alexander Mendoza, Jayadev Vallath and Maria Mendoza</h5>
  <div id="mapcontainer"></div>
  <div id="tablecontainer">
    <small class="text-primary">Updated 5s ago</small>
    <table class="table table-bordered table-striped otext">
      <thead>
        <tr>
          <th class="text-center">Territory</th>
          <th class="text-center">Gallons</th>
          <th class="text-center">Plan</th>
          <th class="text-center">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-left">NY Metro</td>
          <td class="text-right">1,534</td>
          <td class="text-right">10,000</td>
          <td class="text-center"><span class="ok glyphicon glyphicon-arrow-up" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>North East</td>
          <td class="text-right">1,124</td>
          <td class="text-right">23,000</td>
          <td class="text-center"><span class="ok glyphicon glyphicon-arrow-up" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Texas</td>
          <td class="text-right">9,214</td>
          <td class="text-right">10,320</td>
          <td class="text-center"><span class="notok glyphicon glyphicon-arrow-down" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Great Lakes</td>
          <td class="text-right">8,642</td>
          <td class="text-right">43,310</td>
          <td class="text-center"><span class="ok glyphicon glyphicon-arrow-up" aria-hidden="true"></span></td>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
     <script>
     var tcolor = {};
         tcolor['westcoast'] = '#ff99cc';
         tcolor['texas'] = '#ffcc99';
         tcolor['nymetro'] = 'red';
         tcolor['northeast'] = '#99ccff';
         tcolor['greatlakes'] = '#ff9999';
         tcolor['southeast'] = '#cc99ff';
      var map = new Datamap({
        scope: 'usa',
        element: document.getElementById('mapcontainer'),
        geographyConfig: {
            highlightOnHover: false,
            popupTemplate: function(geo, data) {
                // don't show tooltip if country don't present in dataset
                if (!data) { return ; }
                // tooltip content
                return ['<div class="hoverinfo">',
                    '<strong>', geo.properties.name, '</strong>',
                    '<br>Count: <strong>', data.numberOfThings, '</strong>',
                    '</div>'].join('');
            }
        },
        projection: 'mercator',
        height: 500,
        fills: {
          defaultFill: '#e0e0e0',
          westcoast: tcolor['westcoast'],
          texas: tcolor['texas'],
          nymetro: tcolor['nymetro'],
          northeast: tcolor['northeast'],
          greatlakes: tcolor['greatlakes'],
          southeast: tcolor['southeast']
        },
        data: {
          WA: {fillKey: 'westcoast', numberOfThings: 1000 },
          OR: {fillKey: 'westcoast', numberOfThings: 10 },
          CA: {fillKey: 'westcoast', numberOfThings: 1420 },
          AK: {fillKey: 'westcoast', numberOfThings: 9830 },
          TX: {fillKey: 'texas' },
          CT: {fillKey: 'northeast' },
          VT: {fillKey: 'northeast' },
          NH: {fillKey: 'northeast' },
          ME: {fillKey: 'northeast' },
          MA: {fillKey: 'northeast' },
          RI: {fillKey: 'northeast' },
          NY: {fillKey: 'northeast' },
          NJ: {fillKey: 'northeast' },
          PA: {fillKey: 'northeast' },
          VA: {fillKey: 'northeast' },
          MD: {fillKey: 'northeast' },
          WV: {fillKey: 'northeast' },
          DE: {fillKey: 'northeast' },
          IL: {fillKey: 'greatlakes' },
          IN: {fillKey: 'greatlakes' },
          MI: {fillKey: 'greatlakes' },
          MN: {fillKey: 'greatlakes' },
          OH: {fillKey: 'greatlakes' },
          WI: {fillKey: 'greatlakes' },
          AL: {fillKey: 'southeast' },
          FL: {fillKey: 'southeast' },
          GA: {fillKey: 'southeast' },
          LA: {fillKey: 'southeast' },
          MS: {fillKey: 'southeast' },
          SC: {fillKey: 'southeast' },
          NC: {fillKey: 'southeast' },
          TN: {fillKey: 'southeast' },
          KY: {fillKey: 'southeast' },
          AR: {fillKey: 'southeast' }
        }
      })
     map.bubbles([{
        name: 'NY Metro',
        radius: 10,
        fillKey: 'nymetro',
        latitude: 40.7773,
        longitude: -73.8727
      }])
//window.setInterval(function() {
//  map.updateChoropleth({
//    'CA': { color: 'green' },
//  },
//  window.setTimeout(function() {
//  map.updateChoropleth({
//    'CA': { color: '#ff99cc' },
//  });
//  }
//  , 1000));
//}, 2000);
     </script>
</body>
</html>
