<!DOCTYPE html>
<meta charset="utf-8">
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="../static/js/d3.v3.min.js"></script>
  <script src="../static/js/topojson.v1.min.js"></script>
  <script src="../static/js/datamaps.usa.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/main.css" media="screen" />
</head>
<body>
  <h1 class="text-center otext">Sales BI Dashboard</h1>
  <h5 class="text-center otext">Team 6: Alexander Mendoza, Jayadev Vallath and Maria Mendoza</h5>
  <div id="mapcontainer"></div>
  <div id="tablecontainer">
    <small class="text-primary">Updated 5s ago</small>
    <table class="table table-bordered table-striped otext">
      <thead>
        <tr>
          <th class="text-center">Territory</th>
          <th class="text-center">Gallons</th>
          <th class="text-center">Plan</th>
          <th class="text-center">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Great Lakes</td>
          <td class="text-right">8,642</td>
          <td class="text-right">43,310</td>
          <td class="text-center"><span class="ok glyphicon glyphicon-arrow-up" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>North East</td>
          <td class="text-right">1,124</td>
          <td class="text-right">23,000</td>
          <td class="text-center"><span class="ok glyphicon glyphicon-arrow-up" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td class="text-left">NY Metro</td>
          <td class="text-right">1,534</td>
          <td class="text-right">10,000</td>
          <td class="text-center"><span class="ok glyphicon glyphicon-arrow-up" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>South East</td>
          <td class="text-right">2,815</td>
          <td class="text-right">9,050</td>
          <td class="text-center"><span class="ok glyphicon glyphicon-arrow-up" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Texas</td>
          <td class="text-right">9,214</td>
          <td class="text-right">10,320</td>
          <td class="text-center"><span class="notok glyphicon glyphicon-arrow-down" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>West Coast</td>
          <td class="text-right">815</td>
          <td class="text-right">8,912</td>
          <td class="text-center"><span class="ok glyphicon glyphicon-arrow-up" aria-hidden="true"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
     <script>
     var tcolor = {};
         tcolor['westcoast'] = '#ff99cc';
         tcolor['texas'] = '#ffcc99';
         tcolor['nymetro'] = 'red';
         tcolor['northeast'] = '#99ccff';
         tcolor['greatlakes'] = '#ff9999';
         tcolor['southeast'] = '#cc99ff';
      var gallons = {};
          gallons['greatlakes'] = '8,642';
          gallons['northeast'] = '1,124';
          gallons['nymetro'] = '1,534';
          gallons['southeast'] = '2,815';
          gallons['texas'] = '9,214';
          gallons['westcoast'] = '815';
      var map = new Datamap({
        scope: 'usa',
        element: document.getElementById('mapcontainer'),
        geographyConfig: {
            highlightOnHover: false,
            popupTemplate: function(geo, data) {
                // don't show tooltip if country don't present in dataset
                if (!data) { return ; }
                // tooltip content
                return ['<div class="hoverinfo">',
                    '<strong>', data.territory, '</strong>',
                    '<br>Gallons: <strong>', data.gallons, '</strong>',
                    '</div>'].join('');
            }
        },
        projection: 'mercator',
        height: 500,
        fills: {
          defaultFill: '#e0e0e0',
          westcoast: tcolor['westcoast'],
          texas: tcolor['texas'],
          nymetro: tcolor['nymetro'],
          northeast: tcolor['northeast'],
          greatlakes: tcolor['greatlakes'],
          southeast: tcolor['southeast']
        },
        data: {
          AK: {fillKey: 'westcoast', territory:'West Coast', gallons: gallons['westcoast']},
          CA: {fillKey: 'westcoast', territory:'West Coast', gallons: gallons['westcoast']},
          OR: {fillKey: 'westcoast', territory:'West Coast', gallons: gallons['westcoast']},
          WA: {fillKey: 'westcoast', territory:'West Coast', gallons: gallons['westcoast']},
          TX: {fillKey: 'texas', territory:'Texas', gallons: gallons['texas']},
          CT: {fillKey: 'northeast', territory:'North East', gallons: gallons['northeast']},
          DE: {fillKey: 'northeast', territory:'North East', gallons: gallons['northeast']},
          MA: {fillKey: 'northeast', territory:'North East', gallons: gallons['northeast']},
          MD: {fillKey: 'northeast', territory:'North East', gallons: gallons['northeast']},
          ME: {fillKey: 'northeast', territory:'North East', gallons: gallons['northeast']},
          NH: {fillKey: 'northeast', territory:'North East', gallons: gallons['northeast']},
          NJ: {fillKey: 'northeast', territory:'North East', gallons: gallons['northeast']},
          NY: {fillKey: 'northeast', territory:'North East', gallons: gallons['northeast']},
          PA: {fillKey: 'northeast', territory:'North East', gallons: gallons['northeast']},
          RI: {fillKey: 'northeast', territory:'North East', gallons: gallons['northeast']},
          VA: {fillKey: 'northeast', territory:'North East', gallons: gallons['northeast']},
          VT: {fillKey: 'northeast', territory:'North East', gallons: gallons['northeast']},
          WV: {fillKey: 'northeast', territory:'North East', gallons: gallons['northeast']},
          IL: {fillKey: 'greatlakes', territory:'Great Lakes', gallons: gallons['greatlakes']},
          IN: {fillKey: 'greatlakes', territory:'Great Lakes', gallons: gallons['greatlakes']},
          MI: {fillKey: 'greatlakes', territory:'Great Lakes', gallons: gallons['greatlakes']},
          MN: {fillKey: 'greatlakes', territory:'Great Lakes', gallons: gallons['greatlakes']},
          OH: {fillKey: 'greatlakes', territory:'Great Lakes', gallons: gallons['greatlakes']},
          WI: {fillKey: 'greatlakes', territory:'Great Lakes', gallons: gallons['greatlakes']},
          AL: {fillKey: 'southeast', territory:'South East', gallons: gallons['southeast']},
          AR: {fillKey: 'southeast', territory:'South East', gallons: gallons['southeast']}
          FL: {fillKey: 'southeast', territory:'South East', gallons: gallons['southeast']},
          GA: {fillKey: 'southeast', territory:'South East', gallons: gallons['southeast']},
          KY: {fillKey: 'southeast', territory:'South East', gallons: gallons['southeast']},
          LA: {fillKey: 'southeast', territory:'South East', gallons: gallons['southeast']},
          MS: {fillKey: 'southeast', territory:'South East', gallons: gallons['southeast']},
          NC: {fillKey: 'southeast', territory:'South East', gallons: gallons['southeast']},
          SC: {fillKey: 'southeast', territory:'South East', gallons: gallons['southeast']},
          TN: {fillKey: 'southeast', territory:'South East', gallons: gallons['southeast']},
        }
      })
     map.bubbles([{
        name: 'New York Metro',
        gallons: gallons['nymetro'],
        radius: 10,
        fillKey: 'nymetro',
        latitude: 40.7773,
        longitude: -73.8727
      }])
//window.setInterval(function() {
//  map.updateChoropleth({
//    'CA': { color: 'green' },
//  },
//  window.setTimeout(function() {
//  map.updateChoropleth({
//    'CA': { color: '#ff99cc' },
//  });
//  }
//  , 1000));
//}, 2000);
     </script>
</body>
</html>
