{% extends "bootstrap/base.html" %}

{% block title %}Sales BI{% endblock %}
{% block scripts %}
  {{super()}}
  <script src="{{url_for('static', filename='js/d3.v3.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/topojson.v1.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/datamaps.usa.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
{% endblock %}
{% block styles %}
  {{super()}}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}" media="screen" />
{% endblock %}
{% block content %}
  <h1 class="text-center otext">Sales BI Dashboard</h1>
  <h5 class="text-center otext">Team 6: Alexander Mendoza, Jayadev Vallath and Maria Mendoza</h5>
  <div id="mapcontainer"></div>
  <div id="tablecontainer">
    <small id="updatestatus" class="text-primary">Updated 5s ago</small>
    <table class="table table-bordered table-striped otext">
      <thead>
        <tr>
          <th class="text-center">Territory</th>
          <th class="text-center">Gallons</th>
          <th class="text-center">Plan</th>
          <th class="text-center">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr id="GL">
          <td class="tname">Great Lakes</td>
          <td class="tact text-right">8,642</td>
          <td class="tplan text-right">43,310</td>
          <td class="text-center"><span class="tstat soso glyphicon glyphicon-minus" aria-hidden="true"></span></td>
        </tr>
        <tr id="NE">
          <td class="tname">North East</td>
          <td class="tact text-right">1,124</td>
          <td class="tplan text-right">23,000</td>
          <td class="text-center"><span class="tstat ok glyphicon glyphicon-arrow-up" aria-hidden="true"></span></td>
        </tr>
        <tr id="NYC">
          <td class="tname">NY Metro</td>
          <td class="tact text-right">1,534</td>
          <td class="tplan text-right">10,000</td>
          <td class="text-center"><span class="tstat ok glyphicon glyphicon-arrow-up" aria-hidden="true"></span></td>
        </tr>
        <tr id="SE">
          <td class="tname">South East</td>
          <td class="tact text-right">2,815</td>
          <td class="tplan text-right">9,050</td>
          <td class="text-center"><span class="tstat ok glyphicon glyphicon-arrow-up" aria-hidden="true"></span></td>
        </tr>
        <tr id="TX">
          <td class="tname">Texas</td>
          <td class="tact text-right">9,214</td>
          <td class="tplan text-right">10,320</td>
          <td class="text-center"><span class="tstat notok glyphicon glyphicon-arrow-down" aria-hidden="true"></span></td>
        </tr>
        <tr id="WC">
          <td class="tname">West Coast</td>
          <td class="tact text-right">815</td>
          <td class="tplan text-right">8,912</td>
          <td class="text-center"><span class="tstat ok glyphicon glyphicon-arrow-up" aria-hidden="true"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
