{% extends "bootstrap/base.html" %}

{% block title %}Sales BI{% endblock %}
{% block scripts %}
  {{super()}}
  <script src="{{url_for('static', filename='js/d3.v3.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/topojson.v1.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/datamaps.usa.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
  {{ moment.include_moment() }}
{% endblock %}
{% block styles %}
  {{super()}}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}" media="screen" />
{% endblock %}
{% block content %}
  <h1 class="text-center otext">Sales BI Dashboard</h1>
  <h5 class="text-center otext">Team 6: Alexander Mendoza, Jayadev Vallath and Maria Mendoza</h5>
  <div id="mapcontainer"></div>
  <div id="tablecontainer">
    <small id="updatestatus" class="text-primary">Not Connected.</small>
    <table class="table table-bordered table-striped otext">
      <thead>
        <tr>
          <th class="text-center">Territory</th>
          <th class="text-center">Gallons</th>
          <th class="text-center">Plan</th>
          <th class="text-center">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr id="GL">
          <td class="tname">Great Lakes</td>
          <td class="tact text-right">0</td>
          <td class="tplan text-right">0</td>
          <td class="text-center"><span class="tstat soso glyphicon glyphicon-minus" aria-hidden="true"></span></td>
        </tr>
        <tr id="NE">
          <td class="tname">North East</td>
          <td class="tact text-right">0</td>
          <td class="tplan text-right">0</td>
          <td class="text-center"><span class="tstat soso glyphicon glyphicon-minus" aria-hidden="true"></span></td>
        </tr>
        <tr id="NYC">
          <td class="tname">NY Metro</td>
          <td class="tact text-right">0</td>
          <td class="tplan text-right">0</td>
          <td class="text-center"><span class="tstat soso glyphicon glyphicon-minus" aria-hidden="true"></span></td>
        </tr>
        <tr id="SE">
          <td class="tname">South East</td>
          <td class="tact text-right">0</td>
          <td class="tplan text-right">0</td>
          <td class="text-center"><span class="tstat soso glyphicon glyphicon-minus" aria-hidden="true"></span></td>
        </tr>
        <tr id="TX">
          <td class="tname">Texas</td>
          <td class="tact text-right">0</td>
          <td class="tplan text-right">0</td>
          <td class="text-center"><span class="tstat soso glyphicon glyphicon-minus" aria-hidden="true"></span></td>
        </tr>
        <tr id="WC">
          <td class="tname">West Coast</td>
          <td class="tact text-right">0</td>
          <td class="tplan text-right">0</td>
          <td class="text-center"><span class="tstat soso glyphicon glyphicon-minus" aria-hidden="true"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
